.buildpath
.DS_Store
.idea
.project
.settings/
.*.sw*
.*.un~
build/
nbproject
vendor
var/log/*
!var/log/.gitkeep
var/tmp/*
!var/tmp/app/.gitkeep
!var/tmp/.gitkeep
!var/tmp/prod-baila-app/.do_not_clear
!var/tmp/prod-eclat-app/.do_not_clear
!var/tmp/prod-hpplus-app/.do_not_clear
!var/tmp/prod-lee-app/.do_not_clear
!var/tmp/prod-maquia-app/.do_not_clear
!var/tmp/prod-marisol-app/.do_not_clear
!var/tmp/prod-more-app/.do_not_clear
!var/tmp/prod-nonno-app/.do_not_clear
!var/tmp/prod-one-app/.do_not_clear
!var/tmp/prod-ourage-app/.do_not_clear
!var/tmp/prod-spur-app/.do_not_clear
tmp/
node_modules
var/debug/report/*
!var/debug/report/.gitkeep
.env
.env.prod*
.envrc
.phpunit.result.cache
var/key/clickmailer/clickmailer.pem
var/debug/stub/clickmailer/errors_20180706.csv
